<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <a href="/">← Back To Home</a>
          {{#if thread.imageFileName}}
          <img class="img-fluid" src="/images/uploads/{{thread.imageFileName}}" />
          {{/if}}
          <h5 class="card-title">Thread</h5>
          <p>
            <strong>ID</strong>: {{thread.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{thread.text}}</p>
          <p>
            <strong>Description:</strong> {{thread.description}}</p>
        {{!-- Input form for adding comments to a particular thread --}}
          <div class="form-group">
            <label for="comment-description"><strong>Add Comment</strong></label>
            <textarea class="form-control" id="comment-description" aria-describedby="comment-description" placeholder="Text (Optional)"></textarea>
          </div>
            <button id="commentSubmit" class="btn btn-primary float-right" data-id="{{thread.id}}">Post</button>
        </div>
                  <div class="card-body">
            <h3>Comments:</h3>
              {{#each thread.Comments}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <p>{{this.description}}</p>
                </li>
              {{/each}}
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>