<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-header"><strong>Thread</strong></div>

        <div class="card-body">
          {{#if thread.imageFileName}}
          <img class="img-fluid" src="/images/uploads/{{thread.imageFileName}}" />
          {{/if}}

          <p><strong>ID</strong>: {{thread.id}}</p>
          <p><strong>Text</strong>: {{thread.text}}</p>
          <p><strong>Description:</strong> {{thread.description}}</p>

          {{!-- Input form for adding comments to a particular thread --}}
          <div class="form-group">
            <label for="comment-description"><strong>Add Comment</strong></label>
            <textarea class="form-control" id="comment-description" aria-describedby="comment-description" placeholder="Text (Optional)"></textarea>
          </div>

          <button id="commentSubmit" class="btn btn-primary btn-block" data-id="{{thread.id}}">Post</button>
          <button class="btn btn-block" id="homepage"> ← Back To Home </button>
        </div>

      </div>
      <div class="card">
        <div class="card-header"><strong>Comments</strong></div>

        <div class="card-body">
          <ul class="list-group">
            {{#each thread.Comments}}
            <li data-id="{{this.id}}" class="list-group-item">{{this.description}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>